<?xml version="1.0" encoding="UTF-8"?>
<con:soapui-project id="ece72327-f907-40f6-8b77-d5b905f85b5d" activeEnvironment="Default environment" name="Novo" resourceRoot="" xmlns:con="http://eviware.com/soapui/config"><con:settings/><con:vcsConfiguration><con:vcsName>Git</con:vcsName><con:repositoryIdentifier>https://github.com/gurbakhsishsingh/readyapi.git</con:repositoryIdentifier></con:vcsConfiguration><con:properties/><con:wssContainer/><con:databaseConnectionContainer/><con:oAuth2ProfileContainer/><con:reporting/><con:authRepository/></con:soapui-project>