<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="ce465f89-4d28-4802-b8d8-ae291b3d5847" name="Join TestSuite" xmlns:con="http://eviware.com/soapui/config"><con:description>TestSuite generated for REST Service [Novo]</con:description><con:settings><con:setting id="ce465f89-4d28-4802-b8d8-ae291b3d5847fileName">Join TestSuite</con:setting></con:settings><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>